extend layout
block content
  h1 #{title}
  table.table
    thead
      tr
        th
          | Inventory Tag
        th
          | Hostname
        th
          | Serial
        th
          | Location
        th
          | OS Version
        th
          | Memory
        th
          | Update
    tbody
    each inv in data
      tr
        td
          | #{inv.tag}
        td
          | #{inv.hostname}
        td
          | #{inv.serial}
        td
          | #{inv.location}
        td
          | #{inv.os_version}
        td
          | #{inv.memory}
        td
          a(href='http://#{inv.ip}:3737/edit', target='_new', class='glyphicon glyphicon-pencil', alt="Update") 
