extend layout
block content
  h1 #{title}
  table.table
    thead
      tr
        th
          | Inventory Tag
        th
          | Serial
        th
          | Location
        th
          | OS Version
        th
          | Memory
        th
          | CPU
    tbody
    each inv in data
      tr
        td
          | #{inv.tag}
        td
          | #{inv.serial}
        td
          | #{inv.location}
        td
          | #{inv.os_version}
        td
          | #{inv.memory}
        td
          | #{inv.cpu}
